htqlbaigiuxe.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:simpleType name="MaType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="HoTenType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"></xs:maxLength>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="SoDienThoaiType">
        <xs:restriction base="xs:string">
            <xs:pattern value="0\d{9}"></xs:pattern>
            <xs:maxLength value="10"></xs:maxLength>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="GioiTinhType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Nam"/>
            <xs:enumeration value="Nu"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:element name="hethongbaigiuxe">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="khachhang" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="makh" ></xs:element>
                            <xs:element name="hoten"></xs:element>
                            <xs:element name="gioitinh"></xs:element>
                            <xs:element name="sdt"></xs:element>
                            <xs:element name="diachi"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="nhanvien" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="manv"></xs:element>
                            <xs:element name="hoten"></xs:element>
                            <xs:element name="gioitinh"></xs:element>
                            <xs:element name="sdt"></xs:element>
                            <xs:element name="diachi"></xs:element>
                            <xs:element name="chucvu"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="banggia" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="mabg"></xs:element>
                            <xs:element name="giatheogio"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="calam" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="macl"></xs:element>
                            <xs:element name="tencalam"></xs:element>
                            <xs:element name="giobatdau"></xs:element>
                            <xs:element name="gioketthuc"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="thexe" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="mathe"></xs:element>
                            <xs:element name="trangthai"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="loaixe" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="malx"></xs:element>
                            <xs:element name="tenloaixe"></xs:element>
                            <xs:element name="mabg"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="xe" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="bienso"></xs:element>
                            <xs:element name="makh"></xs:element>
                            <xs:element name="malx"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="lichphancong" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="mapc"></xs:element>
                            <xs:element name="ngayphancong"></xs:element>
                            <xs:element name="manv"></xs:element>
                            <xs:element name="macl"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="luotgiuxe" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="maluot"></xs:element>
                            <xs:element name="bienso"></xs:element>
                            <xs:element name="mathe"></xs:element>
                            <xs:element name="thoigianvao"></xs:element>
                            <xs:element name="thoigianra"></xs:element>
                            <xs:element name="mapc"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="hoadon" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="mahd"></xs:element>
                            <xs:element name="ngaylap"></xs:element>
                            <xs:element name="tongtien"></xs:element>
                            <xs:element name="maluot"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>