htqlbaigiuxe.dtd

<!ELEMENT hethongbaigiuxe (khachhangs, xes, loaixes, banggias, thexes, luotgiuxes, hoadons, nhanviens, lichphancongs, calams)>

<!ELEMENT khachhangs (khachhang+)>
<!ELEMENT khachhang (makh, hoten, gioitinh, sdt, diachi)>
<!ELEMENT makh (#PCDATA)>
<!ELEMENT hoten (#PCDATA)>
<!ELEMENT gioitinh (#PCDATA)>
<!ELEMENT sdt (#PCDATA)>
<!ELEMENT diachi (#PCDATA)>

<!ELEMENT xes (xe+)>
<!ELEMENT xe (bienso, malx, makh)>
<!ELEMENT bienso (#PCDATA)>
<!ELEMENT malx (#PCDATA)>

<!ELEMENT loaixes (loaixe+)>
<!ELEMENT loaixe (malx, tenloaixe)>
<!ELEMENT tenloaixe (#PCDATA)>

<!ELEMENT banggias (banggia+)>
<!ELEMENT banggia (mabg, malx, giatheogio)>
<!ELEMENT mabg (#PCDATA)>
<!ELEMENT giatheogio (#PCDATA)>

<!ELEMENT thexes (thexe+)>
<!ELEMENT thexe (mathe, trangthai)>
<!ELEMENT mathe (#PCDATA)>
<!ELEMENT trangthai (#PCDATA)>

<!ELEMENT luotgiuxes (luotgiuxe+)>
<!ELEMENT luotgiuxe (maluot, bienso, mathe, thoigianvao, thoigianra, mapc)>
<!ELEMENT maluot (#PCDATA)>
<!ELEMENT thoigianvao (#PCDATA)>
<!ELEMENT thoigianra (#PCDATA)>
<!ELEMENT mapc (#PCDATA)>

<!ELEMENT hoadons (hoadon+)>
<!ELEMENT hoadon (mahd, maluot, ngaylap, tongtien)>
<!ELEMENT mahd (#PCDATA)>
<!ELEMENT ngaylap (#PCDATA)>
<!ELEMENT tongtien (#PCDATA)>

<!ELEMENT nhanviens (nhanvien+)>
<!ELEMENT nhanvien (manv, hoten, gioitinh, sdt, diachi, chucvu)>
<!ELEMENT manv (#PCDATA)>
<!ELEMENT chucvu (#PCDATA)>

<!ELEMENT lichphancongs (lichphancong+)>
<!ELEMENT lichphancong (mapc, manv, macl, ngayphancong)>
<!ELEMENT mapc (#PCDATA)>
<!ELEMENT ngayphancong (#PCDATA)>

<!ELEMENT calams (calam+)>
<!ELEMENT calam (macl, tencalam, giobatdau, gioketthuc)>
<!ELEMENT macl (#PCDATA)>
<!ELEMENT tencalam (#PCDATA)>
<!ELEMENT giobatdau (#PCDATA)>
<!ELEMENT gioketthuc (#PCDATA)>
